body {
    font-family: 'Roboto', sans-serif;
    background: black;
    color: white;
}

.container {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

h1 {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
}
#form {
    padding-bottom: 5%;
    margin: 0 auto;
    text-align: center;
    background: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(131,58,180,0.8) 0%, rgba(253,29,29,0.8) 50%, rgba(252,176,69,0.8) 100%);

}

.infoText {
    margin-top: 5%;
}

.info-text {
    padding-left: 5%;
    padding-right: 15%;
}

.info {
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.button {
    margin-top: 15px;
    padding: 15px 32px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
border: none;
    box-shadow: 0px 0px 100px 0px grey;
}

.button:active {
    background: white;
    color: black;
}
input[type=number] {
    height: 3rem;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    border: none;
}
